[submodule "gutenberg"]
	path = gutenberg
	url = git@github.com:jhnstn/mockenberg.git
	shallow = true
[submodule "jetpack"]
	path = jetpack
	url = git@github.com:Automattic/jetpack.git
	shallow = true
[submodule "block-experiments"]
	path = block-experiments
	url = git@github.com:Automattic/block-experiments.git
	shallow = true
